<p>
  <b>Clave:</b>
  <%= @instituto.clave %>
</p>

<p>
  <b>Nombre:</b>
  <%= @instituto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @instituto.descripcion %>
</p>


<%= link_to 'Editar', edit_instituto_path(@instituto) if can? :update, @instituto %> |
<%= link_to 'Atrás', institutos_path %>
